div.fs {width: 1920px;height: 1483px; }
#page-img {margin-top: 0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;background-image: url(scaled-images/Page_33m.jpg);background-size: 1919px 1483px;width: 1919px;height: 1483px; }
