div.fs {width: 1920px;height: 1483px; }
#page-img {margin-top: 0px;margin-bottom: 0px;margin-left: 1px;margin-right: 1px;background-image: url(scaled-images/Page_23.jpg);background-size: 1918px 1483px;width: 1918px;height: 1483px; }
